<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='row'>
        <div class='col-md-7 homepage-side'>
          <div class='row'>
            <div class='col-md-6'></div>
            <div class='col-md-6'>
              <div class='homepage-title'>
                <h1>ULTRARend</h1>
                <p>
                  <%= t(:little_subtitle) %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class='col-md-5'>
          <div class='login-form'>
            <div class='main-div'>
              <div class='panel'>
                <h2><%= t(:log_in_title) %></h2>
                <p><%= t(:log_in_subtitle) %></p>
              </div>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label t(:email) %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: t(:email), placeholder: t(:email_placeholder), class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label t(:password) %><br />
                <%= f.password_field :password, autocomplete: t(:password), placeholder: t(:password_placeholder), class: 'form-control' %>
              </div>
              <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label t(:remember_me) %>
              </div>
              <% end %>
              <div class="actions">
                <%= f.submit t(:log_in_btn), class: 'btn btn-dark btn-lg' %>
              </div>
              <% end %>
             <%= link_to t(:forgot?), root_path %><br />
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>