= render partial: 'shared/top_navbar'

.row.body-row
  = render partial: 'shared/sidebar'
  -if trabajador?
    = render partial: 'dashboard_trabajador'
  -if auxcontable?
    = render partial: 'dashboard_auxcontable'
  -if jefearea?
    = render partial: 'dashboard_jefearea'
  -if jefecontable?
    = render partial: 'dashboard_jefecontable'
  -if sysadmin?
    = render partial: 'dashboard_sysadmin'